 body{
    background-image: url(../assets/pit_stop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: black;
    border: 0;
}

label{
    color: white;
}

p{
  color: white;
}

