h1 {  
  font-size: 50px;  
  background: -webkit-linear-gradient(left top, rgb(249, 29, 0), rgb(21, 21, 30));
  background: linear-gradient(to bottom right, rgb(249, 29, 0), rgb(21, 21, 30));
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;  
  margin-left: 20%;
}

  body{
    background-image: url(../assets/pit_stop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: black;
    border: 0;
}


  #profile{
    background-color: #262626;
    padding: 20px;
    margin-top: 13%;
    margin-left: 5%;
}

#profile button{
    background-color: rgb(249, 29, 0);
    border-color: rgb(249, 29, 0);
    text-align: center;
    padding: 10px;

}

label{
    color: white;
}

p{
  color: white;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}