#title{
    font-family: 'Open Sans', sans-serif !important;
}

h1 {  
    font-size: 72px;  
    background: -webkit-linear-gradient(left top, red, yellow);
    background: linear-gradient(to bottom right, rgb(204, 24, 24), rgb(255, 255, 255));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
  }  