body{
    background-color: #212529;
}

h1 {  
    font-size: 72px;  
    background: -webkit-linear-gradient(left top, rgb(249, 29, 0), rgb(21, 21, 30));
    background: linear-gradient(to bottom right, rgb(249, 29, 0), rgb(21, 21, 30));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;  
    margin-left: 42%;
  }